.nav {
  text-align: center; 
  width: 100%; 
  background-color: #333; 
  overflow: hidden; 
  position: relative;
  
}

/* Define the style of the menu items */
.nav a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  

}

/* Define the style of the menu items when they are hovered over */
.nav a:hover {
  background-color: #111; 
  color: yellow; 
}

/* Define the style of the menu items when they are active (clicked) */
.nav a:active {
  background-color: green;
  color: white; 
}

/* Define the style of the menu items when the page is scrolled */
.nav-scrolled {
  background-color: #555; 
  color: white; 
}

/* Define the style of the body element */
body {
  margin: 0;
  font-family: Arial, sans-serif; 
  background-image: url("./bg.jpg");
}

/* Define the style of the content element */
.content {
  margin-top: 60px; 
  text-align: center; 
  color: purple;
  position: center;
  padding: 1%;
}
